POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=almus_db

DATABASE_URL=postgresql://user:password@db:5432/almus_db
REDIS_URL=redis://redis:6379/0
VACANCIES_PATH=/app/data/vacancies.json

# API URL for local LM Studio
LM_STUDIO_URL=http://host.docker.internal:1234/v1
